header, .project:not(:last-child) {
    border-bottom: 1px solid rgb(202, 192, 192);
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #b25b5b;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #c16e6e;
    text-decoration: underline;
  }
  
  .dollar-amount {
    color: #853030;
    font-weight: bold;
    margin-left: -5px;
  }